<footer class="footer py-3 mt-auto bg-custom">
  <div class="text-center">
    <a href="https://www.flaticon.com/free-icons/photo" class="link-success" target="_blank">Photo icons created by Freepik - Flaticon</a>
  </div>
</footer>